* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: red;
}

#nav-bar {
    display: flex;
}

a {
    text-decoration: none;
    display: block;
    padding: 10px;
}

button:hover {background-color: #cdcdcd}

button:active {
  background-color: #cdcdcd;
  box-shadow: 2px 2px #666;
  transform: translateY(4px);
}