* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    position: relative;
    min-height: 100vh;
}

h1 {
    color: red;
}

a {
    text-decoration: none;
    display: block;
    padding: 10px;
}

.page-title {
    font-family: 'Kanit', sans-serif;
    font-size: 2.5em;
}

.sub-title {
    font-family: 'Kanit', sans-serif;
    font-size: 1.5em;
}

.small-title {
    font-family: 'Kanit', sans-serif;
    font-size: 1.3em;
}

#checkout-button {
    margin-top: 15px;
    margin-bottom: 15px;
}

#remove-button {
    margin-left: 20px;
}

#remove-button:hover {
    cursor: pointer;
}

#add-to-cart-button {
    margin-top: 20px;
}

button:hover {background-color: #cdcdcd}

button:active {
  background-color: #cdcdcd;
  box-shadow: 2px 2px #666;
  transform: translateY(4px);
}

#header {
    padding: 10px 15px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header h1 {
    font-family: 'Anton', sans-serif;
    font-size: 2.4em;
    line-height: 1.3em;
}

#nav-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 10px 15px;
    margin: 0 -15px -10px -15px;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 35%, rgba(255,255,255,1) 93%);
}

#nav-bar a {
    padding: 0;
    font-size: 1.2em;
    font-weight: 600;
    color: #ffffff;
}

#nav-bar a:hover {
    color: #2a2a2a;
}

#footerContainer {
    padding-bottom: 8rem;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 7rem;
    padding: 20px 0 20px 0;
    background: rgb(20,20,20);
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(42,42,42,1) 73%, rgba(102,102,102,1) 100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#footer h3 {
    color: #ffffff;
    font-weight: 400;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

#footer p {
    color: #ffffff;
    font-weight: 200;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

.footerLinks {
    display: inline-block;
    color: white;
    margin-right: -5px;
    margin-left: -5px;
}

.footerLinks:hover {
    color: rgb(255,0,0);
}

#middleLink {
    margin-right: -10px;
    margin-left: -10px;
}

@media (max-width: 940px) {
    #footer p {
        font-size: 15px;
    }
}

@media (max-width: 595px) {
    #footer {
        height: 24vw;
    }
    #footer h3 {
        font-size: 4vw;
    }
    
    #footer p {
        font-size: 2.5vw;
        margin-bottom: -10px;
    }
    #nav-bar {
        font-size: 2.4vw;
    }

}

@media (max-width: 460px) {
    #footer {
        height: 29vw;
    }
}

@media (max-width: 350px) {
    #header h1 {
        font-size: 10vw;
    }

}